.breadcrumbs {
   display: flex;
   padding: 2rem 0;
   transform: skew(-40deg);

   p {
      float: left;
      background: $txt-col;
      // text-align: center;
      padding: 4px 40px;
      position: relative;
      margin: 0 5px 0 0;
      color: $bcg-color;
      cursor: default;

      // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      border-radius: 2px;
      // letter-spacing: 0.2em;
      font-size: 1rem;

      .link,
      span {
         transform: skew(40deg);
         display: block;
      }

      .link {
         text-decoration: none;
         color: $bcg-color; //boja teksta
         font-weight: 700;


      }

      //       transform: skewX(20deg);
      //   display: block;\
   }

}