.breadcrumbs {
   display: flex;
   padding: 2rem 0;
   transform: skew(-40deg);

   p {
      float: left;
      background: $txt-col;
      background: $bcg-color;
      border: 1px solid $txt-col;
      position: relative;
      margin: 0 6px 0 0;
      cursor: default;
      border-radius: 2px;
      font-size: 1.1rem;
      font-family: $font-accent;
      font-weight: bold;

      .link,
      span {
         transform: skew(40deg);
         padding: 4px 40px;
         display: block;
      }

      .link {
         text-decoration: none;
         color: $bcg-color;
         color: $txt-col;
         font-weight: bold;
      }
   }
}