.footer-container {
   background-image: url('../img/trakaTemp.jpg');
   background-repeat: repeat-x;
   background-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   font-family: $fnt-fmly, sans-serif;
   min-height: 100%;

   h4 {
      margin-top: 15px;
   }
}