.footer-container {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100%;
   margin-top: 1rem;
   padding: 1rem;
   font-family: $fnt-fmly, sans-serif;

   background-image: url('../img/trakaTemp.jpg');
   background-repeat: repeat-x;
   background-size: 1.1rem;

   h4 {
      margin-top: 1rem;
   }
}