.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem 0 2.9rem;
   font-size: 1.5rem;
   font-style: italic;
   background-image: url('../img/trakaTemp.jpg');
   background-repeat: repeat-x;
   background-size: 1.1rem;
   background-position: bottom;
}

.header-logo {
   justify-content: center;
}