.homepage-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   min-height: 80vh;
   padding-bottom: 0;

   @keyframes slideSide {
      0% {
         transform: translateX(300%);
      }

      100% {
         transform: translateX(0);
      }
   }

   a {
      width: 30%;
      height: 28vw;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-decoration: none;
      font-family: $font-accent, sans-serif;
      font-size: 6vw;
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;

      &:hover {
         align-items: center;
      }
   }

   .drivers-link {
      animation: slideSide 0.5s ease forwards;
      background-image: $driver-img;
      background-size: contain;
      background-size: cover;
      color: $txt-col;

      &:before {
         margin-bottom: -31px;
         text-shadow: 6px 3px $driver-color;
         content: "Ready";
      }

      &:hover {
         background-image: none;
         background-color: #f7484e;
         color: $bcg-color;
         border: 2px solid $txt-col;

         &:before {
            margin: 0;
            content: "Drivers";
            text-shadow: 9px 4px hsla(0, 0%, 15%, 0.9);
         }
      }
   }

   .teams-link {
      animation: slideSide 1s ease forwards;
      background-image: $teams-img;
      background-size: contain;
      background-size: cover;
      color: $txt-col;

      &:before {
         margin-bottom: -31px;
         text-shadow: 6px 3px $team-color;
         content: "Set";
      }

      &:hover {
         background-image: none;
         background-color: $team-color;
         color: $bcg-color;
         border: 2px solid $txt-col;

         &:before {
            margin: 0;
            content: "Teams";
            text-shadow: 9px 4px hsla(0, 0%, 15%, 0.9);
         }
      }
   }

   .races-link {
      animation: slideSide 1.5s ease forwards;
      background-image: $races-img;
      background-size: contain;
      background-size: cover;
      color: $txt-col;

      &:before {
         margin-bottom: -31px;
         text-shadow: 6px 3px $race-color;
         content: "Go!";
      }

      &:hover {
         background-image: none;
         background-color: $race-color;
         color: $bcg-color;
         border: 2px solid $txt-col;

         &:before {
            margin: 0;
            content: "Races";
            text-shadow: 9px 4px hsla(0, 0%, 15%, 0.9);
         }
      }
   }
}