.homepage-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   min-height: 80vh;
   padding-bottom: 0;

   @keyframes slideSide {
      0% {
         transform: translateX(300%);
      }

      100% {
         transform: translateX(0);
      }
   }

   a {  
      width: 30%;
      height: 28vw;
      background: $team-color;
      border-radius: 50%;
      cursor: pointer;
      // cursor: wait;

      display: flex;
      justify-content: center;
      align-items: center;

      text-decoration: none;
      font-family: $font-accent, sans-serif;
      font-size: 6vw;
      text-transform: uppercase;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      // transition: background-color 0.3s ease;

      &:hover {
         box-shadow: none;
      }
   }

   .drivers-link {
      animation: slideSide 0.5s ease forwards;
      background-color: $bcg-color;
      box-shadow: 0 0 25px $driver-color;
      color: $driver-color;


      &:before {
         content: "Ready";
      }

      &:hover {
         background-color: $driver-color;
         color: $bcg-color;
         text-align: center;

         &:after {
            color: $driver-color;
         }

         &:before {
            content: "Drivers";
         }
      }
   }

   .teams-link {
      animation: slideSide 1s ease forwards;
      background-color: $bcg-color;
      box-shadow: 0 0 25px $team-color;
      color: $team-color;

      &:hover {
         background-color: $team-color;
         color: $bcg-color;
      }

      &:before {
         content: "Set";
      }

      &:hover {
         background-color: $team-color;
         color: $bcg-color;

         &:after {
            color: $team-color;
         }

         &:before {
            content: "Teams";
         }
      }
   }

   .races-link {
      animation: slideSide 1.5s ease forwards;
      background-color: $bcg-color;
      box-shadow: 0 0 25px $race-color;
      color: $race-color;

      &:hover {
         background-color: $race-color;
         color: $bcg-color;
         text-align: center;
      }

      &:before {
         content: "Go!";
      }

      &:hover {
         background-color: $race-color;
         color: $bcg-color;

         &:after {
            color: $race-color;
         }

         &:before {
            content: "Race";
         }
      }
   }





   // .block,
   // a {
   //    animation: slideIn 0.6s ease forwards;
   //    padding: 20px;
   //    border-radius: 50%;
   //    width: 100vw;
   //    height: 450px;
   //    font-family: $font-accent, sans-serif;
   //    font-style: italic;
   //    font-size: 6rem;
   //    text-transform: uppercase;
   //    overflow: hidden;
   //    white-space: nowrap;
   //    pointer-events: auto;
   //    font-weight: bold;
   //    cursor: pointer;
   //    display: flex;
   //    justify-content: center;
   //    align-items: center;
   //    transition: background-color 0.3s ease;
   //    text-align: center;

   //    &:hover {
   //       box-shadow: none;
   //    }
   // }

   // .block {
   //    margin: 20px;
   // }

   // a {
   //    text-decoration: none;

   //    &:visited {
   //       color: $txt-col;
   //    }
   // }

   // .driver-link:before {
   //    content: "Ready";
   // }

   // .team-link:before {
   //    content: "Set";
   // }

   // .races-link:before {
   //    content: "Go";
   // }

   // .driver-link:hover:before,
   // .team-link:hover:before,
   // .races-link:hover:before {
   //    content: "";
   // }

   // .driver-block {
   //    background-color: $bcg-color;
   //    box-shadow: 0 0 20px $driver-color;
   //    color: $driver-color;

   //    a {
   //       color: $driver-color;

   //       &:visited {
   //          color: $driver-color;
   //       }

   //    }

   //    &:hover {
   //       background-color: $driver-color;
   //       color: $bcg-color;
   //       text-align: center;

   //       &:after {
   //          color: $driver-color;
   //       }

   //       &:before {
   //          content: "Drivers";
   //          position: absolute;
   //       }

   //       a {
   //          color: $bcg-color;
   //       }
   //    }
   // }

   // .team-block {
   //    background-color: $bcg-color;
   //    box-shadow: 0 0 20px $team-color;

   //    a {
   //       color: $team-color;

   //       &:visited {
   //          color: $team-color;
   //       }
   //    }

   //    &:hover {
   //       background-color: $team-color;
   //       color: $bcg-color;
   //       text-align: center;

   //       &:after {
   //          color: $team-color;
   //       }

   //       &:before {
   //          content: "Teams";
   //          position: absolute;
   //       }

   //       a {
   //          color: $bcg-color;
   //       }
   //    }
   // }

   // .races-block {
   //    background-color: $bcg-color;
   //    box-shadow: 0 0 20px $race-color;

   //    a {
   //       color: $race-color;

   //       &:visited {
   //          color: $race-color;
   //       }
   //    }

   //    &:hover {
   //       background-color: $race-color;
   //       color: $bcg-color;
   //       text-align: center;

   //       &:before {
   //          content: "Races";
   //          position: absolute;
   //       }

   //       a {
   //          color: $bcg-color;
   //       }
   //    }
   // }
}