.homepage-container {
   display: flex;
   flex-direction: row;
   // align-items: center;
   justify-content: center;

   .block,
   a {
      margin: 20px;
      // padding: 20px;
      border-radius: 50%;
      width: 100vw;
      height: 450px;
      font-family: $fnt-fmly, sans-serif;
      font-style: italic;
      font-size: 80px;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      pointer-events: auto;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease;
      text-align: center;

      a {
         text-decoration: none;


         &:visited {
            color: $txt-col;
         }

      }

      &:hover {
         box-shadow: none;
      }
   }


   .driver-block {
      background-color: $bcg-color;
      box-shadow: 0 0 20px $driver-color;
      color: $driver-color;

      a {
         color: $driver-color;

         &:visited {
            color: $driver-color;
         }
      }

      &:hover {
         background-color: $driver-color;
         color: $bcg-color;
         text-align: center;



         a {
            color: $bcg-color;

         }

         &::after {
            // content: $driver-hover;
            font-size: 50px;
         }
      }
   }

   .team-block {
      background-color: $bcg-color;
      /* Background color for block 2 */
      box-shadow: 0 0 20px $team-color;

      a {
         color: $team-color;

         &:visited {
            color: $team-color;
         }
      }

      &:hover {
         background-color: $team-color;
         color: $bcg-color;


         a {
            color: $bcg-color;

         }

         &::after {
            // content: $team-hover;
            font-size: 60px;
         }
      }
   }

   .races-block {
      background-color: $bcg-color;
      box-shadow: 0 0 20px $race-color;

      a {
         color: $race-color;

         &:visited {
            color: $race-color;
         }
      }

      &:hover {
         background-color: $race-color;
         color: $bcg-color;
         text-align: center;


         a {
            color: $bcg-color;

         }



         &::after {
            // content: $race-hover;
            font-size: 60px;
         }
      }
   }
}