// za .table i .tabele-w50 klase
@mixin table-properties ($width, $borderColor, $tableHeaderColor, $tdContainerWidth: 50%) {
   width: $width;
   border-collapse: collapse;
   text-align: center;

   thead,
   tbody {
      @keyframes fadeIn {
         0% {
           opacity: 0;
         }
         100% {
           opacity: 1;
         }
       }
      
      animation: fadeIn 0.6s ease;
      tr {
         border-bottom: 1px solid $borderColor;

         th,
         td {
            padding: 1rem 0;
         }

         .table-header {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $tableHeaderColor;
         }

         .link-td {
            display: flex;
            justify-content: center;
            cursor: pointer;
         }

         .td-container {
            width: $tdContainerWidth;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
         }
      }
   }
}