body {
    margin: 0;
    background-color: $bcg-color;
    font-family: $fnt-fmly;
    font-size: 20px;
    color: $txt-col;
    display:flex;
}

.wrapper {

    


    .drivers,
    .teams,
    .races {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;

        width: 100px;
        height: 100px;
        cursor: pointer;


        img {
            width: 60%;
            height: 60%;

        }

        li {
            border: 5px solid;
            color: $driver-color;
        }

    }



}