// .nav-container {
.navigation {
   ul {
      display: flex;
      list-style: none;

      li {
         // margin: 0 1rem;
         padding: 0 1rem;

         .link {
            font-family: $fnt-fmly, sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8rem;
            text-decoration: none;
            color: $txt-col;
            margin-left: 2rem;
         }

         .link-drivers {
            &:hover {
               color: $driver-color;
               text-decoration: underline;
               text-decoration-thickness: 2.5px;
               text-underline-offset: 6px;
            }

            &.active {
               color: $driver-color;
            }
         }

         .link-teams {
            &:hover {
               color: $team-color;
               text-decoration: underline;
               text-decoration-thickness: 2.5px;
               text-underline-offset: 6px;
            }

            &.active {
               color: $team-color;
            }
         }

         .link-races {
            &:hover {
               color: $race-color;
               text-decoration: underline;
               text-decoration-thickness: 2.5px;
               text-underline-offset: 6px;
            }

            &.active {
               color: $race-color;
            }
         }

      }
   }
}

// }

//     .drivers,
//     .teams,
//     .races {

//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin-bottom: 10px;
//         padding: 10px;

//         width: 100px;
//         height: 100px;
//         cursor: pointer;

//         img {
//             width: 60%;
//             height: 60%;
//         }

//         li {
//             border: 5px solid;
//             color: $driver-color;
//         }
//     }
// }