body {
    background-color: $bcg-color;
    font-family: $fnt-fmly;
    font-size: 20px;
    color: $fnt-col
}

.wrapper {

    .drivers,
    .teams,
    .races {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #ff652f;
        width: 100px;
        height: 100px;
        padding: 10px;
        margin-bottom: 15px;

        &:hover {
            font-weight: bold;
        }


    }
}