$bcg-color: #272727;
$driver-color: #ffc906;
$team-color: #223971;
$races-color: #cc1e4a;
$fnt-fmly: Helvetica;
$txt-col: #c6c6c6;

// $driver-hover: "READY";
// $team-hover:"SET";
// $races-hover:"GO";