$bcg-color: #e2e2e2;
$driver-color: #ffc906;
$team-color: #223971;
$races-color: #cc1e4a;
$fnt-fmly: 'Segoe UI',
   Tahoma,
   Geneva,
   Verdana,
   sans-serif;
$txt-col: #272727;

// $driver-hover: "READY";
// $team-hover:"SET";
// $races-hover:"GO";