@import "variables";
@import "mixins";



@import "header";
@import "homepage";
@import "navigation";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background-color: $bcg-color;
   color: $txt-col;
   font-family: $fnt-fmly;
   font-size: 1.2rem;
   padding: 0 2rem;
}

// .routes-container {
//    padding: 0 2rem;
// }

@import 'loader';

.breadcrumbs {
   display: flex;
   padding: 2rem 0;

   p {
      float: left;
      background: $breadcrumb-color-black;
      text-align: center;
      padding: 4px 40px;
      position: relative;
      margin: 0 5px 0 0;
      color: #8093a7;

      &:after,
      &:before {
         content: "";
         border-top: 15px solid transparent;
         border-bottom: 15px solid transparent;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
      }

      &:after {
         border-left: 15px solid $breadcrumb-color-black;
         right: -15px;
         z-index: 1;
      }

      &:before {
         border-left: 15px solid $bcg-color;
         left: 0;
      }

      &:first-child a,
      &:last-child a {
         padding-left: 20px;
         border-top-left-radius: 5px;
         border-bottom-left-radius: 5px;
      }

      .link {
         text-decoration: none;
         color: $bcg-color; //boja teksta
      }
   }
}

//SearchBar
.search-wrapper {
   display: flex;
   justify-content: end;

   .search-box {
      padding: 0.5rem 0.8em;
      border: 1px solid $txt-col;
      border-radius: 2px;
      display: flex;
      justify-content: flex-end;

      input {
         width: 100%;
         background-color: $bcg-color;
         border: none;
         outline: none;
      }
   }
}

// stilovi za komponente koje imaju samo tabelu
.component-container-column {
   h1 {
      font-family: $font-accent;
      font-size: 2.5rem;
      text-transform: uppercase;
      font-style: italic;
      margin-bottom: 2rem;
      // text-shadow: -5px -2px 7px $txt-col;
   }

   .table-drivers {
      @include table-properties(100%, $driver-color, $driver-color);
   }

   .table-teams {
      @include table-properties(100%, $team-color, $team-color);
   }

   .table-races {
      @include table-properties(100%, $race-color-hover, $race-color, 100%);
   }
}

// stilovi za komponente koje imaju tabelu/e i katricu
.component-container-row {
   width: 100%;
   display: flex;
   gap: 1rem;

   .card-section {
      width: 20%;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .card-info {
         width: 100%;

         .img {
            width: 90%;
            height: auto;
            margin-top: 1.5rem;
            border-radius: 4px;
         }

         .img-flag {
            width: 4rem;
         }
      }

      .data-wrapper {
         display: flex;

         .data-label,
         .data {
            width: 50%;
            line-height: 2.2rem;
         }

         .data-label {
            font-weight: bold;
         }
      }
   }

   .table-section-w80 {
      width: 80%;
      display: flex;

      .table-drivers {
         @include table-properties(100%, $driver-color, $driver-color);
      }

      .table-teams {
         @include table-properties(100%, $team-color, $team-color);
      }

      .table-races {
         @include table-properties(100%, $race-color-hover, $race-color);
      }

      .table-w50 {
         @include table-properties(50%, $race-color-hover, $race-color, 100%);

         &:first-child {
            margin-right: 1.5rem;
         }
      }
   }
}


@import "footer";